</br>
</br>
</br>
</br>

<a href={{ path('chaire_admin_addEvent') }}> Add an event</a>
</br>
<a  href={{ path('chaire_admin_viewEvent') }}> View and modify event</a>
</br>
<a  href={{ path('chaire_admin_addFrise') }}> Add frise</a>



